<!DOCTYPE HTML>
<html>
<head>
    <title>{$cfg['title']}</title>
    <script src="/Public/jquery-3.1.1.js"></script>
    <link rel="stylesheet"  href="/Public/bootstrap-3.3.7/css/bootstrap.css" />
    <script src="/Public/bootstrap-3.3.7/js/bootstrap.js"></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <script>
        window.console = window.console || (function () {  
            var c = {}; c.log = c.warn = c.debug = c.info = c.error = c.time = c.dir = c.profile  
            = c.clear = c.exception = c.trace = c.assert = function () { };  
            return c;  
        })(); 

        window.onload = function (){    
        var div1=document.getElementsByClassName("col-sm-7")[0];      
        var div2=document.getElementsByClassName("col-sm-3")[0];
        div2.style.height=div1.offsetHeight+1+"px";
        div1.style.borderBottom="1px solid #dbdbdb";
        div2.style.borderBottom="1px solid #dbdbdb";

        var img1=document.getElementsByClassName('hidden-xs')[1].getElementsByTagName("img");
        for(var i=0;i<img1.length;i++)
        {   
            var m=img1[i];         
            if(m.width/m.height>132.3/109)
            {
                m.style.visibility="visible";
                m.style.width="auto";             
                m.style.height="100%";                   
            }
            else
            {
                m.style.visibility="visible";
                m.style.width="100%";             
                m.style.height="auto";    
            }
        }
        
        var img2=document.getElementsByClassName('visible-xs-block')[1].getElementsByTagName("img");
        for(var i=0;i<img1.length;i++)
        {   
            var m=img2[i];         
            m.style.visibility="visible";
            if(m.width>m.height)
            {
                m.style.width="100%";
                m.style.height="auto";               
            }
            else
            {
                m.style.width="100%";                     
                m.parentNode.parentNode.style.height=m.width*0.6+"px";
            }
        }    
            
        var li = document.getElementsByName("li");  
        var color = ['#337ab7','black','#c7254e'] ;

        for(var j =0;j<li.length;j++){  
        var rest;  
        var re = Math.round(Math.random()*2);   
        rest = color[re];   

        li[j].style.color = rest;  
        }      
    }
    </script>
    <meta name="viewport" content="user-scalable=no, width=device-width, initial-scale=1.0" />
    
    <style>
        a:link
        {
            color:#000000;
            TEXT-DECORATION:none;
        }
        a:visited
        {
            color:black;
            TEXT-DECORATION:none;
        }
         a:hover
        {
            color:#CD5555;
            TEXT-DECORATION:none;
        }
        a:active  
        {
            TEXT-DECORATION:none;
        }
        .navbar-inverse .navbar-nav > li > a 
        {
            color: #fff;
        }
        .navbar-inverse .navbar-brand
        {
            color:#fff
        }
        .container-fluid a:hover
        {
            color:white !important;
        }        
       

        ul{padding:0}
        .container img
        {
            visibility: hidden;            
            
        }
        .hidden-xs img:hover
        {
            transition: 0.5s;        
            transform: scale(1.1);
        }
        .navbar-inverse
        {
            background-color: #CD5555;
             border-color:#CD5555;
        }
        .navbar-nav li:hover{
            display: block;
            background:#A52A2A;
        }
        .navbar-inverse .navbar-toggle {
            border-color: #cd5555;
        }
        .navbar-inverse .navbar-toggle:hover,
        .navbar-inverse .navbar-toggle:focus
        {
             background-color:#CD5555;
        }	
        .navbar-inverse .navbar-collapse
        {
            border-color:#dbdbdb;
        }
    </style>
</head>
<body>
<div class="container hidden-xs">
    <div class="row">
    <div class="col-sm-10 col-sm-offset-1" style="padding:0">
        <div style="background-color:#CD5555">
        <nav class="navbar navbar-inverse" style="">
            <div class="container-fluid" style="">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collaplsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="/" style="">首页</a>
                </div>
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1" style="">
                    <ul class="nav navbar-nav">
                        <li style=""><a href="/Home/Index/travel">旅游</a></li>
                        <li ><a href="/Home/Index/fashion">时尚</a></li>
                        <li ><a href="/Home/Index/food">美食</a></li>
                        <li ><a href="/Home/Index/education">教育</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        </div>
    </div>
    </div>
</div>

<div class="container hidden-xs">
    <div class="row" style="">
    <div class="col-sm-7 col-sm-offset-1" style="border-right:1px solid #dbdbdb;padding:0" >
        <div style="">
        <foreach name="articles" item="article">
            <div class="" style="height:150px;border-top: 1px solid #dbdbdb;padding:20px 20px 20px 0;overflow: hidden">
                <div class="" style="width:20%;height:100%;float:left;overflow:hidden;">
                    <a href="/Home/Index/read/aid/{$article[aid]}" target="_blank">
                        <img src="{$article['content']|htmlspecialchars_decode|getpic}">
                    </a>
                </div>
                <div class="" style="height:100%;width:78%;float:right;overflow:hidden">
                    <div class="">
                        <a href="/Home/Index/read/aid/{$article['aid']}" style="font-size:16px;font-weight:bold" target="_blank">{$article['title']}</a>
                    </div>
                    <div style="margin:10px 0;">
                        <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {$article['author']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span>&nbsp;{$article['view']}浏览&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {$article['createtime']|date='Y-m-d',###}
                    </div>

                    <div class="" style="">
                        <p>{$article['content']|htmlspecialchars_decode|strip_tags|str_replace='&nbsp;','',###|mb_substr=###, 0,70,'utf-8'}...</p>
                    </div>                   
                </div>                 
            </div>
        </foreach>
        </div>
    </div>
    

    <div class="col-sm-3" style="border-top:1px solid #dbdbdb;padding:0">
        <div style="padding-top:20px;padding-left: 20px;padding-bottom: 20px">
            <div style="margin-bottom: 10px"><span style="font-size: 16px;font-weight: bold;">博客点击排行</span></div>
            <div>
                <ul class="" style="margin:0">
                    <?php $i=1?>
                    <foreach name="hotarticles" item="vo">

                        <li style="list-style-type:none;line-height: 30px;border-bottom: 1px solid lightgray;"><?php if($i<4){?><span style="background-color:#d43f3a;color:white"><?php echo strlen($i)<2?'0'.$i:$i;?></span><?php }?><?php if($i>=4){?><span style="background-color:gray;color:white"><?php echo strlen($i)<2?'0'.$i:$i;?></span><?php }?> &nbsp;<a href="/Home/Index/read/aid/{$vo.aid}" target="_blank"><?php echo mb_strlen($vo['title'],'utf8')<15?$vo['title']:(mb_substr($vo['title'],0,13,utf8).'...')?></a><span style="float:right"><?php echo $vo['view']?></span></li>

                        <?php $i++;?>
                    </foreach>
                </ul>
            </div>
        </div>
        <div style="border-top:1px solid #dbdbdb;border-bottom:1px solid #dbdbdb;padding-top:20px;padding-left: 20px;padding-bottom: 20px">
           
            <div><span style="font-size:16px;font-weight: bold;">名博推荐</span></div>
            <div>
                <ul class="" style="margin:0">
                    <foreach name="hotauthors" item="vo">
                        <li  style="list-style-type:none;display:inline;line-height: 40px"><a name="li" href="#">{$vo.author}</a>&nbsp;&nbsp;&nbsp;&nbsp;</li>
                    </foreach>
                </ul>
            </div>
        </div>
    </div>
    </div>
</div>
<div class="container">
    <div class="row" style="">
        <div class="col-md-10 col-md-offset-1 hidden-xs" style="padding:0">
            <hr style="height:4px;border:none;background-color:#dbdbdb">
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
    <div class="col-xs-12" style="padding:0">
    <nav class="navbar navbar-inverse visible-xs-block">
        <div class="container-fluid" style="background-color:#CD5555">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collaplsed" data-toggle="collapse" data-target="#example" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" style="">首页</a>
            </div>
            <div class="collapse navbar-collapse" id="example">
                <ul class="nav navbar-nav navbar-right">                    
                    <li><a href="/Home/Index/travel">旅游</a></li>
                    <li><a href="/Home/Index/fashion">时尚</a></li>
                    <li><a href="/Home/Index/food">美食</a></li>
                    <li><a href="/Home/Index/education">教育</a></li>
                </ul>                     
            </div>
        </div>
    </nav>
    </div>
    </div>
</div>
    
<div class="container visible-xs-block">
    <div class="row">
    <div class="col-xs-12" style="margin-bottom:20px;padding:0;border-top:1px solid #dbdbdb;" >
        <foreach name="articles" item="article">               
            <div class="" style="width:100%;overflow:hidden;border-bottom:1px solid #dbdbdb;padding:20px">                       
                <div class="">
                    <a href="/Home/Index/read/aid/{$article['aid']}" style="font-size:16px;font-weight:bold" target="_blank">{$article['title']}</a>
                </div>

                <div style="margin:10px 0">
                    <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span> {$article['author']}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;                        
                    <span class="glyphicon glyphicon-time" aria-hidden="true"></span> {$article['createtime']|date='Y-m-d',###}
                </div>  
                <div class="" style="width:100%;overflow:hidden">
                    <a href="/Home/Index/read?aid={$article[aid]}" target="_blank">
                        <img src="{$article['content']|htmlspecialchars_decode|getpic|}">
                    </a>
                </div>        
            </div>                   
        </foreach>
    </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12 visible-xs" style="padding:0">
            <hr style="height:4px;border:none;background-color:#dbdbdb">
        </div>
    </div>
</div>
<div style="text-align: center;font-size:14px">
    Copyright © 2018   Powered By liufei
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1274043876'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s22.cnzz.com/z_stat.php%3Fid%3D1274043876%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
    <br /><br />
</div>
</body>
</html>
		