<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>管理员管理</title>
    <link rel="stylesheet" href="/Public/bootstrap-3.3.7/css/bootstrap.css" />
    <script src="/Public/jquery-3.1.1.js"></script>
    <script src="/Public/bootstrap-3.3.7/js/bootstrap.js"></script>
</head>
<body>
    <div class="container">
        <include file="./Application/Admin/View/nav.inc.html" />
        <h2>管理员管理<small class="pull-right"><a class="btn btn-default" href="/Admin/User/add">添加管理员</a></small></h2>
        <table class="table">
            <tr>
                <th>uid</th>
                <th>用户</th>
                <th>管理</th>
            </tr>

            <foreach name="data" item="user">
            <tr>
                <td>{$user['uid']}</td>
                <td>{$user['username']}</td>
                <td>
                    <a href="/Admin/User/add/uid/{$user['uid']}">修改</a>
                    <a href="/Admin/User/delete/uid/{$user['uid']}">删除</a>
                </td>
            </tr>
            </foreach>
        </table>
    </div>
</body>
</html>